<div class='mr10 float-right'>
  <%= link_to board_bookmarks_path(board), method: :delete, remote: true, id: "js-bookmark-button-for-board-#{board.id}" do %>
    <i class="fas fa-star"></i>
  <% end %>
</div>